@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
html {
    box-sizing: border-box;
    /*font-size: 62.5%;*/
}

*, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
:root{
    --main:#D9D9D9;
}
/*NAVBAR*/
.navbar{
    background-color: var(--main);
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.navbar .logo{
    margin: 20px 0;
    height: 120px;
}
.nav-items{
    display: flex;
    text-decoration: none;
    list-style: none;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
} 
.navbar li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
} 
.navbar li:hover{
    text-decoration:underline;
}
.logo-icono{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-icono img{
    margin-top: 30px;
}
.mostrar-menu{
    display: none;
}

@media (max-width: 1280px) {
    .navbar .logo{
        height: 85px;
    }
    .nav-items{
        width: 70%;
    } 
}
@media (max-width: 768px) {
    .nav-items{
        margin-top: 40px;
        text-align: center;
        margin-left: 1rem;
    } 
    .navbar li a{
        font-size: 15px;
    } 
    .navbar .logo{
        margin-left: 5px;
        height: 65px;
    }
}
@media (max-width: 550px) {
    .mostrar-menu{
        display: inline;
    }
    .navbar{
        flex-direction: column;
        padding: 0px 10px;
    }
    .nav-items{
        display: none;
    }
    .mostrar-nav-items{
        display: flex;
        margin-top: 0;
        width: 100%;
        flex-direction: column;
    }
    .navbar li{
        margin: 8px;
    }
}

/*SERVICIOS*/
.seccion{
    margin: 20px 0;
    text-align: center;
}
.direccionar-servicios{
    text-decoration: none;
    color: #000;
}
.texto-principal{
    text-transform: uppercase;
}
.contenedor-servicios{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.servicios-tipo-publico img{
    width: 100%;
}
.servicios-tipo-publico{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
    width: min(90%, 1200px);
    background-color: var(--main);
    padding: 30px;
    margin: 16px 0px;
}
.contenedor-servicios h3{
    width: min(90%, 1200px);
    text-align: left;
}
.servicio{
    background-color: #A1A1A1;
    padding: 20px;
    height: 230px;
}
.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.show img{
    height: 140px;
    width: 100%;
}
.nombre-servicio{
    margin: 15px 0;
}
.btn-alinear-derecha{
    width: min(90%, 1200px);
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.btn-ver-todos{
    background-color: #179C64;
    width: 170px;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    color: #FFFF;
    border-radius: 5px;
}
.btn-ver-todos:hover{
    background-color: #000;
}

.servicio:hover .hide{
    cursor: pointer;
    display: block;
}
.servicio:hover .show{
    cursor: pointer;
    display: none;
}
@media (max-width: 768px) {
    .show img{
        height: 130px;
    }
    .servicios-tipo-publico{
        grid-template-columns: repeat(3,1fr);
    }
    .servicios-tipo-publico .direccionar-servicios:last-child{
        display: none;
    }
}
@media (max-width: 550px) {
    .servicios-tipo-publico{
        grid-template-columns: repeat(2,1fr);
    }
    .servicios-tipo-publico .direccionar-servicios:nth-last-child(2){
        display: none;
    }
}
@media (max-width: 480px) {
    .show img{
        height: 150px;
    }
    .servicios-tipo-publico{
        grid-template-columns: repeat(1,1fr);
    }
    .servicios-tipo-publico .direccionar-servicios:nth-last-child(2){
        display: none;
    }
}






/*FOOTER*/
footer{
    height: 140px;
    background-color: #000;
    padding: 30px 20px;
    height: auto;
}
footer p{
    color: #FFF;
    text-align: center;
    margin: 20px 0;
}
.lista-enlaces{
    color: #FFF;
}
.contenedor-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.enlaces{
    display: flex;
    margin-left: 30px;
}
.lista-enlaces{
    margin-right: 100px;
    list-style: none;
}
.lista-enlaces a{
    text-decoration: none;
    color: #FFF;
}
.contenedor-footer img{
    width: 180px;
}
@media (max-width:820px) {
    .contenedor-footer{
        flex-direction: column;
    }
    .enlaces{
        flex-direction: column;
    }
    .lista-enlaces{
        text-align: center;
        margin-right: 0;
    }
    .contenedor-footer img{
        margin: 0 auto;
    }
}
/*Page todos los servicios*/
.servicios-all{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
    width: min(90%, 1200px);
    background-color: var(--main);
    padding: 30px;
    margin: 16px 0px;
}
@media (max-width: 1080px) {
    .servicios-all{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 768px) {
    .servicios-all{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 550px) {
    .servicios-all{
        grid-template-columns: repeat(1,1fr);
    }
    .servicio{
        width: min(320px,95%);
        margin: 0 auto;
    }
}

/*SERVICIO-CONSULTAR ESTADO DNI*/

/*MODAL DEL ESTADO*/
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.animate {
    text-align: center;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
} 
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.contenedor-modal{
    width: min(700px,90%);
    margin: 0 auto;
    margin-top: 150px;
    background-color: #D9D9D9;
    padding: 30px;
}
.closeModal{
    display: block;
    text-align:right;
    font-size: 30px;
    font-weight: bold;
}
.closeModal:hover{
    cursor: pointer;
}
.mensaje-estado{
    font-size: 28px;
    margin: 20px auto;
    text-align: center;
}
.estado{
    padding: 30px;
    background-color: #179C64;
    margin: 40px auto;
    width: 300px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.sin-estado{
    padding: 30px;
    background-color:#6b0000;
    margin: 40px auto;
    width: auto;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
/*----------------*/
.main-consultar{
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccion-consultar{
    margin: 0 auto;
    padding: 50px 0;
}
.centrar-texto{
    text-align: center;
}
.consultar-contenido{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 80px;
}
.consultar-informacion{
    background-color: #636262;
    margin: 30px auto;
    width: min(90%,800px);
    padding: 15px;
    color: #000;
    font-weight: bold;
}
.consultar-contenedor{
    background-color: #D9D9D9;
    width: min(80%,900px);
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px 60px;
}
.consultar-contenedor h3{
    margin-bottom: 30px;
    color: #000;
}
.consultar-img{
    position: relative;
}
.consultar-img p{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
    color: #FFF;
}
.salto-linea{
    display: block;
}
.consultar-img img{
    width: 100%;
    filter: opacity(65%);
}
.consultar{
    text-align: center;
}
.btn-general{
    background-color: #000;
    color: #FFF;
    text-decoration: none;
    padding: 15px 70px;
    border-radius: 20px;
    display: inline-block;
    margin: 10px 0;
    margin-bottom: 20px;
}
.btn-general:hover{
    background-color: #179C64;
    color: #000;
}
.btn-secundario{
    background-color: #9c0101;
    color: #000;
    text-decoration: none;
    padding: 15px 70px;
    border-radius: 20px;
    display: inline-block;
    margin: 10px 0;
}
.btn-secundario:hover{
    background-color: #6b0000;
    color: #FFF;
}
.btn-principal{
    background-color:#179C64;
    color: #000;
    text-decoration: none;
    padding: 15px 70px;
    border-radius: 20px;
    display: inline-block;
    margin: 10px 0;
}
.btn-principal:hover{
    background-color:#0b462d;
    color: #FFF;
}
.contenedor-tipo-consulta{
    width: min(95%,1500px);
    margin: 10PX auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.tipo-consulta{
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 90%;
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenido-tipo-consulta{
    display: grid;
    grid-template-columns: 1.4fr .6fr;
    padding: 30px 60px 0px 60px;
}
.contenido-tipo-consulta img{
    width: 100%;

}
.tipo-consulta label{
    margin: 10px 0px 5px 20px;
    display: block;
}
.tipo-consulta input{
    margin: 0 20px;
    display: block;
    width: 65%;
    border: none;
    background-color: #D9D9D9;
    border-bottom: rgb(88, 88, 88) solid 1px;
    height: 10px;
    padding: 10px;
    outline: none;
}
.centrar-verticalmente{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.estados{
    width: 80%;
}
.tabla{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
caption{
    margin: 10px 0;
}
td{
    padding: 5px 16px;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}

.campo-obligatorio-consulta{
    color: red;
    margin-left: 25px;
}

@media (max-width: 768px) {
    .main-consultar{
        height: auto;
    }
    .consultar-contenido{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .contenedor-tipo-consulta{
        grid-template-columns: 1fr;
    }
    .estados{
        margin: 0 auto;
    }
}

/*personas indocumentadas*/

.contenedor-formulario{
    width: min(95%, 1100px);
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

.secc1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend{
    font-weight: bold;
}

.formulario{
    width: 100%;
    padding: 30px;
    padding-bottom: 10px;
    background-color: #E5E5E5;
    margin-bottom: 40px;
}

.btn-centrar{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.btn:hover{
    background-color: #000;
}

.formulario fieldset{
    border: #E5E5E5 solid 0px;

}
fieldset.fieldset-section{
    border: #FFF solid 1px;
    padding: 10px;
}
.info-persona-indoc{
    width: 450px;
    background-color: #FFF9D9;
    padding: 25px;
}

.info-persona-indoc img{
    width: 120px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.info-persona-indoc li{
    margin: 9px 15px;
}
.campo-oligatorio{
    color: red;
    margin-left: 10px;
}

input, select{
    height: 35px;
    padding: 5px;
    width: 300px;
}
.juntar-input{
    width: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.segund{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
@media (max-width: 1080px) {
    .segund{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:768px) {
    .segund{
        grid-template-columns: 1fr;
    }
}
.juntar-input.juntos{
    grid-row: 4;
    grid-column: 1/4;
    margin: 0 auto;
    display: flex;
}

.formulario label{
    display: block;
    width: auto;
    margin: 10px 0;
}

.contenedor-pasos{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contenedor-dot{
    display: flex;
    gap: 20px;
}

.contenedor-dot div{
    margin: 0 auto;
}

.contenedor-dot p{
    width: 200px;
    text-align: center;
    color: #E5E5E5;

}

.contenedor-dot p.active {
    color: #000;
    font-weight: bold;
}

.dot{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #A1A1A1;
    border-radius: 50%;
    color: #B9B2B2;
    font-weight: bold;
    background-color: #FFF;
    border: #E5E5E5 solid 1px;
}
.dot:hover{
    cursor: pointer;
}
.dot.active{
    background-color: #A1A1A1;
    color: #000;
}

.parrafo{
    margin: 30px 0;
    background-color: #E5E5E5;
    padding: 20px;
    width: min(70%, 800px);
    text-align: center;
    font-weight: bold;
}

h1, h3{
    margin: 10px 0;
}
@media (max-width:768px) {
    .contenedor-pasos h3{
        font-size: 18px;
    }
    .dot{
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .contenedor-dot{
        gap: 5px;
    }
    .contenedor-dot p{
        width: 140px;
        font-size: 13px;
    }
    .contenedor-formulario{
        width: 80%;
        display: flex;
        flex-direction: column-reverse;
        gap: 12px;
    }
    .info-persona-indoc{
        width: auto;
        padding: 15px;
        margin-top: 18px;
    }
    .info-persona-indoc h3{
        margin-top: 0;
        margin-left: 10px;
        font-size: 16px;
    }
    .info-persona-indoc ul{
        font-size: 14px;
        margin-left: 10px   ;
    }
    
    .formulario .juntar-input{
        display: block;
    }
    .campo{
        display: flex;
        flex-direction: column;
    }
    input, select{
        width: 100%;
    }
}
@media (max-width:550px) {
    .contenedor-pasos h3{
        font-size: 16px;
    }
    .dot{
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .contenedor-dot{
        gap: 2px;
    }
    .contenedor-dot p{
        width: 90px;
        font-size: 1px;
    }
    .juntar-input.juntos{
        flex-direction: column;
    }
}
.servindoc:hover .hide{
    display: flex;
    flex-direction: column;
}

.text-naranja{
    margin: 20px;
    background-color: #FFF;
    color: #FF9933;
    font-weight: bold;
}
.text-naranja img{
    width: 100%;
}
.datos-confirmacion{
    color: red;
    text-align: right;
}
.juntar-texto{
    display: flex;
    justify-content: space-between  ;
    align-items: center;
}

.final{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
}
@media (max-width:768px) {
    .final{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
}

.formulario .hide{
    display: none;
}

.hide{
    display: none;
}


/*devolucion-pagos-main*/
.devolucion-pagos-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto;
    max-width: 1040px;
}
.devolucion-pagos-main h1{
    font-size: 24px;
    font-weight: 800;
}
.devolucion-pagos-main .c-descripcion{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.devolucion-pagos-main .descripcion{
    background-color: #D9D9D9;
    margin: 1rem 0;
    padding: 1rem;
    width: 100%;
}
.devolucion-pagos-main .c-descripcion .descripcion{
    width: 60%;
}
.devolucion-pagos-main p{
    font-size: 16px;
    font-weight: 500;
}
.devolucion-pagos-main a {
    color:#000;
    text-decoration: none;
}
.devolucion-pagos-main .restricciones{
    background-color: #DAB223;
    padding: 10px;
    margin: 1rem 0;
    padding: 1rem;
    color: white;
    font-weight: 500;
}
.devolucion-pagos-main .opciones{
    display: flex;
    max-width: 600px;
    width: 600px;
    justify-content: space-around;
    background-color: #D9D9D9;
    padding: 1rem;
    margin:1rem ;
}
.devolucion-pagos-main .opciones a{
    font-weight: 700;
    text-align: center;
    padding: 1rem;
    background-color: #1F683C;
    color: white;
    font-size: 14px;
}
.devolucion-pagos-main .opciones div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/*devolucion-pagos-estado*/
.devolucion-pagos-estado{
    display: flex;
    flex-direction: row;
    margin: 4rem auto;
    max-width: 1140px;
    gap: 30px;
}
.devolucion-pagos-estado .left{
    width: 50%;
}
.devolucion-pagos-estado .left h1{
    font-size: 18px;
    padding: 1rem;
    background-color: #D9D9D9;
    margin: 20px 0;
}
.devolucion-pagos-estado .left form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.devolucion-pagos-estado .left form div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.devolucion-pagos-estado .left form div .tipo-persona{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.devolucion-pagos-estado .left form div .dni{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.devolucion-pagos-estado .left form div .dni input{
    width: 120px;
}
.devolucion-pagos-estado .left form div .dni input:last-child{
    width: 50px;
}
.devolucion-pagos-estado .left form .label{
    font-size: 18px;
    background-color: #D9D9D9;
    padding: 1rem;
}
.devolucion-pagos-estado input{
    height: auto;
    width: auto;
}

.devolucion-pagos-estado .right{
    width: 50%;
    padding: 1rem;
    background-color: #D9D9D9;
}
.devolucion-pagos-estado .right p{
    font-size: 14px;
    margin: 1rem 0;
}
.devolucion-pagos-estado .right .dni-electronico{
    display: flex;
}
.botones{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 2rem 0;
}
.btn-secondary{
    padding: 1rem;
    background-color: #DAB223;
    text-decoration: none;
    color: white;
}
.btn-primary{
    padding: 1rem;
    background-color: #1F683C;
    text-decoration: none;
    color: white;
}
@media (max-width:1020px) {
    .devolucion-pagos-estado{
        flex-direction: column;
        align-items: center;
    }
    .devolucion-pagos-estado .left {
        width: 90%;
    }
    .devolucion-pagos-estado .right {
        width: 70%;
    }
    .devolucion-pagos-estado .right .dni-electronico {
        flex-direction: column;
        align-items: center;
    }
    .devolucion-pagos-estado .left form div .dni{
        gap: 10px;
    }
}
/*devolucion-pagos-estado-2*/
.devolucion-pagos-estado-2{
    display: flex;
    flex-direction: row;
    margin: 4rem auto;
    max-width: 1140px;
    gap: 30px;
}
.devolucion-pagos-estado-2 form div{
    margin: 50px 0;
}
.devolucion-pagos-estado-2 form div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    align-items: center;
}
.devolucion-pagos-estado-2 form div img{
   margin-left: -150px;
}
.devolucion-pagos-estado-2 form .label{
    font-size: 18px;
    background-color: #D9D9D9;
    padding: 1rem;
}
.devolucion-pagos-estado-2 input{
    height: fit-content;
}
@media (max-width:1020px) {
    .devolucion-pagos-estado-2 form div img{
        margin-left: 0;
        margin: 0 auto;
        width: 280px;
     }
     .devolucion-pagos-estado-2 form div{
        grid-template-columns: repeat(1,1fr);
        width: max-content;
    }
    .devolucion-pagos-estado-2 form .label{
        width: fit-content;
    }
    .devolucion-pagos-estado-2{
        margin: 3rem auto;
        align-items: center;
    }
}
/*devolucion-pagos-estado-final*/
.devolucion-pagos-estado-final{
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    max-width: 1140px;
    gap: 30px;
    background-color: #E5E5E5;
    padding: 2rem;
    position: relative;
}
.devolucion-pagos-estado-final div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.devolucion-pagos-estado-final form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.devolucion-pagos-estado-final .check{
    position: absolute;
    left: 800px;
    top: 160px;
}
/*devolucion-pagos-estado-3*/
.devolucion-pagos-estado-3{
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    max-width: 1140px;
    gap: 30px;
    padding: 2rem;
    position: relative;
}
.devolucion-pagos-estado-3 .box{
    font-size: 18px;
    padding: 1rem;
    background-color: #D9D9D9;
    margin: 20px 0;
}
.devolucion-pagos-estado-3 .content{
    display: flex;
}
.devolucion-pagos-estado-3 form{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.devolucion-pagos-estado-3 form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}
@media (max-width:920px) {
    .devolucion-pagos-estado-3 .content{
        flex-direction: column;
    }
    .devolucion-pagos-estado-3 .content img{
        max-width: 320px;
        margin: 0 auto;
    }
}
/*devolucion-pagos-estado-4*/
.devolucion-pagos-estado-4{
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    max-width: 1140px;
    gap: 30px;
    padding: 2rem;
    position: relative;
}
.devolucion-pagos-estado-4 .content{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #D9D9D9;
}
.devolucion-pagos-estado-4 .top{
    display: flex;
    flex-direction: row;
}
.devolucion-pagos-estado-4 form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0;
    gap: 20px;
}
.devolucion-pagos-estado-4 form div{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
@media (max-width:820px) {
    .devolucion-pagos-estado-4 .top .right{
        display: none;
    }
}
@media (max-width:520px) {
    .devolucion-pagos-estado-4 form{
        flex-direction: column;
    }
    .devolucion-pagos-estado-4 form div{
        width: 90%;
        flex-direction: column;
    }
}
