@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
html {
    box-sizing: border-box;
    /*font-size: 62.5%;*/
}

*, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
:root{
    --main:#D9D9D9;
}
/*NAVBAR*/
.navbar{
    background-color: var(--main);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 40px;
} 
.navbar .logo{
    margin: 20px 0;
    height: 100px;
} 
.navbar ul{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    width: 60%;
    justify-content: space-between;
    align-items: center;
} 
.navbar li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 900;
} 
.navbar li:hover{
    text-decoration:underline;
} 
@media (min-width: 780px) {
    .navbar{
        flex-direction: row;
    }
    .navbar ul{
        flex-direction: row;
    } 
}
@media (min-width: 1080) {
    
}
/*SERVICIOS*/
.seccion{
    margin: 20px 0;
    text-align: center;
}
.direccionar-servicios{
    text-decoration: none;
    color: #000;
}
.texto-principal{
    text-transform: uppercase;
}
.contenedor-servicios{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.servicios-tipo-publico img{
    width: 100%;
}
.servicios-tipo-publico{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
    width: min(90%, 900px);
    background-color: var(--main);
    padding: 30px;
    margin: 16px 0px;
}
.contenedor-servicios h3{
    width: min(90%, 900px);
    text-align: left;
}
.servicio{
    background-color: #A1A1A1;
    padding: 16px;
    height: 220px;
}
.show{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.show img{
    height: 220px;
}
.nombre-servicio{
    margin: 15px 0;
}
.btn-alinear-derecha{
    width: min(90%, 900px);
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.btn-ver-todos{
    background-color: #179C64;
    width: 120px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #FFFF;
    border-radius: 5px;
}
.btn-ver-todos:hover{
    background-color: #000;
}
.hide{
    display: none;
}
.servicio:hover .hide{
    cursor: pointer;
    display: block;
}
.servicio:hover .show{
    cursor: pointer;
    display: none;
}




/*FOOTER*/
footer{
    height: 140px;
    background-color: #000;
    padding: 30px 20px;
}
footer p{
    color: #FFF;
    text-align: center;
    margin: 20px 0;
}
.lista-enlaces{
    color: #FFF;
}
.contenedor-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.enlaces{
    display: flex;
    margin-left: 30px;
}
.lista-enlaces{
    margin-right: 100px;
    list-style: none;
}
.lista-enlaces a{
    text-decoration: none;
    color: #FFF;
}
.contenedor-footer img{
    width: 180px;
}